.App {
  text-align: center;
}

.App-header {
  text-align: center;
  height: 150px;
  padding: 20px;
  text-shadow: 4px 2px #454500;
  font-family: "American Typewriter";
}

.tile {
  margin-bottom: 10px;
  float: left;
  text-align: left;
}

.newIdeaButton {
  margin: 0px 0px 25px 15px;
}

.deleteButton {
  visibility: hidden;
  float: right;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
  color: cornflowerblue;
}

.input {
  border: 0;
  background: none;
  outline: none;
  margin-top:10px;
  width: 250px;
  font-size: 11px;
  resize: none;
}

.card-title.input {
  font-size: 18px;
  font-weight: bold;
}

.lastModified {
  float: right;
  font-size: 11px;
}

.countdown {
  float: left;
  font-size: 11px;
}

.card-body:hover .deleteButton {
  visibility: visible;
}
